html,
body {
  padding: 0;
  margin: 0;
}

body {
  /* padding-top: env(safe-area-inset-top, 0);
  */
  padding-top: calc(var(--native-navigation-inset-top, env(safe-area-inset-top, 0)));
  padding-bottom: calc(var(--native-navigation-inset-bottom, env(safe-area-inset-bottom, 0)));
}
